.list-item {
    border: 1px solid #ccc;
    width : 6rem;
    margin-bottom: 10px;
    padding: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    display: flex;
    align-items: center;
    gap : .5rem;
    font-size: 1.5rem;
    transition: .5s ease-in-out;
  }

  .list-item:active{
    cursor: grabbing;
    scale : 0;
    border: none;
    border-radius: 50%;
  }

  .list-item:active .icon{
    display: none;
  }