
  
  .main-heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: cursive;
    text-transform: capitalize;
  }
  
  .game-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
  }

  .orderCheckContainer{
    display: flex;
    gap : 1rem;
  }

  .orderCheckItems{
    width: 5rem;
    height: 5rem;
    border : 1px solid #ccc;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .list-container {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap : 1rem;
  }

  .remark > p{
    font-size: 2rem;
  }

  .btn-controls{
    display: flex;
    gap : 1rem;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  
  .watermark {
    position: relative;
    top : 16rem;
    z-index: -1;
}

.watermark__inner {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.watermark__body {
    color: rgba(0, 0, 0, 0.1);
    font-size: clamp(7rem, 10vw, 10rem);
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-30deg);
    user-select: none;
}

